.profile-img {
    width:100%
}

.bg-black {
    background: black ;
}

.card-project:hover {
    border : 1px solid white;
    cursor: pointer;
}

.project-id{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.project-id{
    width: auto
}

.align-bottom {
    text-align: bottom;
}

.img-portfolio {
    height: 178px;  
}

.img-post{
    width: 100%;
}
